////////////////////////
// PMS Color Matching //
////////////////////////

/*
Source: http://www.novact.info/id40.html
*/

@pms-100: #f4ed7c;
@pms-101: #f4ed47;
@pms-102: #f9e814;
@pms-103: #c6ad0f;
@pms-104: #ad9b0c;
@pms-105: #82750f;
@pms-106: #f7e859;
@pms-107: #f9e526;
@pms-108: #f9dd16;
@pms-109: #f9d616;
@pms-110: #d8b511;
@pms-111: #aa930a;
@pms-112: #99840a;
@pms-113: #f9e55b;
@pms-114: #f9e24c;
@pms-115: #f9e04c;
@pms-116: #fcd116;
@pms-117: #c6a00c;
@pms-118: #aa8e0a;
@pms-119: #897719;
@pms-120: #f9e27f;
@pms-1205: #f7e8aa;
@pms-121: #f9e070;
@pms-1215: #f9e08c;
@pms-122: #fcd856;
@pms-1225: #ffcc49;
@pms-123: #ffc61e;
@pms-1235: #fcb514;
@pms-124: #e0aa0f;
@pms-1245: #bf910c;
@pms-125: #b58c0a;
@pms-1255: #a37f14;
@pms-126: #a38205;
@pms-1265: #7c6316;
@pms-127: #f4e287;
@pms-128: #f4db60;
@pms-129: #f2d13d;
@pms-130: #eaaf0f;
@pms-131: #c6930a;
@pms-132: #9e7c0a;
@pms-133: #705b0a;
@pms-134: #ffd87f;
@pms-1345: #ffd691;
@pms-135: #fcc963;
@pms-1355: #fcce87;
@pms-136: #fcbf49;
@pms-1365: #fcba5e;
@pms-137: #fca311;
@pms-1375: #f99b0c;
@pms-138: #d88c02;
@pms-1385: #cc7a02;
@pms-139: #af7505;
@pms-1395: #996007;
@pms-140: #7a5b11;
@pms-1405: #6b4714;
@pms-141: #f2ce68;
@pms-142: #f2bf49;
@pms-143: #efb22d;
@pms-144: #e28c05;
@pms-145: #c67f07;
@pms-146: #9e6b05;
@pms-147: #725e26;
@pms-148: #ffd69b;
@pms-1485: #ffb777;
@pms-149: #fccc93;
@pms-1495: #ff993f;
@pms-150: #fcad56;
@pms-1505: #f47c00;
@pms-151: #f77f00;
@pms-152: #dd7500;
@pms-1525: #b55400;
@pms-153: #bc6d0a;
@pms-1535: #8c4400;
@pms-154: #995905;
@pms-1545: #4c280f;
@pms-155: #f4dbaa;
@pms-1555: #f9bf9e;
@pms-156: #f2c68c;
@pms-1565: #fca577;
@pms-157: #eda04f;
@pms-1575: #fc8744;
@pms-158: #e87511;
@pms-1585: #f96b07;
@pms-159: #c66005;
@pms-1595: #d15b05;
@pms-160: #9e540a;
@pms-1605: #a04f11;
@pms-161: #633a11;
@pms-1615: #843f0f;
@pms-162: #f9c6aa;
@pms-1625: #f9a58c;
@pms-163: #fc9e70;
@pms-1635: #f98e6d;
@pms-164: #fc7f3f;
@pms-1645: #f97242;
@pms-165: #f96302;
@pms-1655: #f95602;
@pms-166: #dd5900;
@pms-1665: #dd4f05;
@pms-167: #bc4f07;
@pms-1675: #a53f0f;
@pms-168: #6d3011;
@pms-1685: #843511;
@pms-169: #f9baaa;
@pms-170: #f98972;
@pms-171: #f9603a;
@pms-172: #f74902;
@pms-173: #d14414;
@pms-174: #933311;
@pms-175: #6d3321;
@pms-176: #f9afad;
@pms-1765: #f99ea3;
@pms-1767: #f9b2b7;
@pms-177: #f9827f;
@pms-1775: #f9848e;
@pms-1777: #fc6675;
@pms-178: #f95e59;
@pms-1785: #fc4f59;
@pms-1787: #f43f4f;
@pms-1788: #ef2b2d;
@pms-179: #e23d28;
@pms-1795: #d62828;
@pms-1797: #cc2d30;
@pms-180: #c13828;
@pms-1805: #af2626;
@pms-1807: #a03033;
@pms-181: #7c2d23;
@pms-1810: #7c211e;
@pms-1817: #5b2d28;
@pms-182: #f9bfc1;
@pms-183: #fc8c99;
@pms-184: #fc5e72;
@pms-185: #e8112d;
@pms-186: #ce1126;
@pms-187: #af1e2d;
@pms-188: #7c2128;
@pms-189: #ffa3b2;
@pms-1895: #fcbfc9;
@pms-190: #fc758e;
@pms-1905: #fc9bb2;
@pms-191: #f4476b;
@pms-1915: #f4547c;
@pms-192: #e5053a;
@pms-1925: #e00747;
@pms-193: #db828c;
@pms-1935: #c10538;
@pms-194: #992135;
@pms-1945: #a80c35;
@pms-1955: #931638;
@pms-196: #f4c9c9;
@pms-197: #ef99a3;
@pms-198: #772d35;
@pms-199: #d81c3f;
@pms-200: #c41e3a;
@pms-201: #a32638;
@pms-202: #8c2633;
@pms-203: #f2afc1;
@pms-204: #ed7a9e;
@pms-205: #e54c7c;
@pms-206: #d30547;
@pms-207: #baaa9e;
@pms-208: #8e2344;
@pms-209: #75263d;
@pms-210: #ffa0bf;
@pms-211: #ff77a8;
@pms-212: #f94f8e;
@pms-213: #ea0f6b;
@pms-214: #cc0256;
@pms-215: #a50544;
@pms-216: #7c1e3f;
@pms-217: #f4bfd1;
@pms-218: #ed72aa;
@pms-219: #e22882;
@pms-220: #aa004f;
@pms-221: #930042;
@pms-222: #70193d;
@pms-223: #f993c4;
@pms-224: #f46baf;
@pms-225: #ed2893;
@pms-226: #d60270;
@pms-227: #ad005b;
@pms-228: #8c004c;
@pms-229: #6d213f;
@pms-230: #ffa0cc;
@pms-231: #fc70ba;
@pms-232: #f43fa5;
@pms-233: #ce007c;
@pms-234: #aa0066;
@pms-235: #8e0554;
@pms-236: #f9afd3;
@pms-2365: #f7c4d8;
@pms-237: #f484c4;
@pms-2375: #ea6bbf;
@pms-238: #ed4faf;
@pms-2385: #db28a5;
@pms-239: #e0219e;
@pms-2395: #c4008c;
@pms-240: #c40f89;
@pms-2405: #a8007a;
@pms-241: #ad0075;
@pms-2415: #9b0070;
@pms-242: #7c1c51;
@pms-2425: #87005b;
@pms-243: #f2bad8;
@pms-244: #eda0d3;
@pms-245: #e87fc9;
@pms-246: #cc00a0;
@pms-247: #b7008e;
@pms-248: #a3057f;
@pms-249: #7f2860;
@pms-250: #edc4dd;
@pms-251: #e29ed6;
@pms-252: #d36bc6;
@pms-253: #af23a5;
@pms-254: #a02d96;
@pms-255: #772d6b;
@pms-256: #e5c4d6;
@pms-2562: #d8a8d8;
@pms-2563: #d1a0cc;
@pms-2567: #bf93cc;
@pms-257: #d3a5c9;
@pms-2572: #c687d1;
@pms-2573: #ba7cbc;
@pms-2577: #aa72bf;
@pms-258: #9b4f96;
@pms-2582: #aa47ba;
@pms-2583: #9e4fa5;
@pms-2587: #8e47ad;
@pms-259: #72166b;
@pms-2592: #930fa5;
@pms-2593: #872b93;
@pms-2597: #66008c;
@pms-260: #681e5b;
@pms-2602: #820c8e;
@pms-2603: #70147a;
@pms-2607: #5b027a;
@pms-261: #5e2154;
@pms-2612: #701e72;
@pms-2613: #66116d;
@pms-2617: #560c70;
@pms-262: #542344;
@pms-2622: #602d59;
@pms-2623: #5b195e;
@pms-2627: #4c145e;
@pms-263: #e0cee0;
@pms-2635: #c9add8;
@pms-264: #c6aadb;
@pms-2645: #b591d1;
@pms-265: #9663c4;
@pms-2655: #9b6dc6;
@pms-266: #6d28aa;
@pms-2665: #894fbf;
@pms-267: #59118e;
@pms-268: #4f2170;
@pms-2685: #56008c;
@pms-269: #442359;
@pms-2695: #44235e;
@pms-270: #baafd3;
@pms-2705: #ad9ed3;
@pms-2706: #d1cedd;
@pms-2707: #bfd1e5;
@pms-2708: #afbcdb;
@pms-271: #9e91c6;
@pms-2715: #937acc;
@pms-2716: #a5a0d6;
@pms-2717: #a5bae0;
@pms-2718: #5b77cc;
@pms-272: #8977ba;
@pms-2725: #7251bc;
@pms-2726: #6656bc;
@pms-2727: #5e68c4;
@pms-2728: #3044b5;
@pms-273: #38197a;
@pms-2735: #4f0093;
@pms-2736: #4930ad;
@pms-2738: #2d008e;
@pms-274: #2b1166;
@pms-2745: #3f0077;
@pms-2746: #3f2893;
@pms-2747: #1c146b;
@pms-2748: #1e1c77;
@pms-275: #260f54;
@pms-2755: #35006d;
@pms-2756: #332875;
@pms-2757: #141654;
@pms-2758: #192168;
@pms-276: #2b2147;
@pms-2765: #2b0c56;
@pms-2766: #2b265b;
@pms-2767: #14213d;
@pms-2768: #112151;
@pms-277: #b5d1e8;
@pms-278: #99badd;
@pms-279: #6689cc;
@pms-280: #002b7f;
@pms-281: #002868;
@pms-282: #002654;
@pms-283: #9bc4e2;
@pms-284: #75aadb;
@pms-285: #3a75c4;
@pms-286: #0038a8;
@pms-287: #003893;
@pms-288: #00337f;
@pms-289: #002649;
@pms-290: #c4d8e2;
@pms-2905: #93c6e0;
@pms-291: #a8cee2;
@pms-2915: #60afdd;
@pms-292: #75b2dd;
@pms-2925: #008ed6;
@pms-293: #0051ba;
@pms-2935: #005bbf;
@pms-294: #003f87;
@pms-2945: #0054a0;
@pms-295: #00386b;
@pms-2955: #003d6b;
@pms-296: #002d47;
@pms-2965: #00334c;
@pms-297: #82c6e2;
@pms-2975: #bae0e2;
@pms-298: #51b5e0;
@pms-2985: #51bfe2;
@pms-299: #00a3dd;
@pms-2995: #00a5db;
@pms-300: #0072c6;
@pms-3005: #0084c9;
@pms-301: #005b99;
@pms-3015: #00709e;
@pms-302: #004f6d;
@pms-3025: #00546b;
@pms-303: #003f54;
@pms-3035: #004454;
@pms-304: #a5dde2;
@pms-305: #70cee2;
@pms-306: #00bce2;
@pms-307: #007aa5;
@pms-308: #00607c;
@pms-309: #003f49;
@pms-310: #72d1dd;
@pms-3105: #7fd6db;
@pms-311: #28c4d8;
@pms-3115: #2dc6d6;
@pms-312: #00adc6;
@pms-3125: #00b7c6;
@pms-313: #0099b5;
@pms-3135: #009baa;
@pms-314: #00829b;
@pms-3145: #00848e;
@pms-315: #006b77;
@pms-3155: #006d75;
@pms-316: #00494f;
@pms-3165: #00565b;
@pms-317: #c9e8dd;
@pms-318: #93dddb;
@pms-319: #4cced1;
@pms-320: #009ea0;
@pms-321: #008789;
@pms-322: #007272;
@pms-323: #006663;
@pms-324: #aaddd6;
@pms-3242: #87ddd1;
@pms-3245: #8ce0d1;
@pms-3248: #7ad3c1;
@pms-325: #56c9c1;
@pms-3252: #56d6c9;
@pms-3255: #47d6c1;
@pms-3258: #35c4af;
@pms-326: #00b2aa;
@pms-3262: #00c1b5;
@pms-3265: #00c6b2;
@pms-3268: #00af99;
@pms-327: #008c82;
@pms-3272: #00aa9e;
@pms-3275: #00b2a0;
@pms-3278: #009b84;
@pms-328: #007770;
@pms-3282: #008c82;
@pms-3285: #009987;
@pms-3288: #008270;
@pms-329: #006d66;
@pms-3292: #006056;
@pms-3295: #008272;
@pms-3298: #006b5b;
@pms-330: #005951;
@pms-3302: #00493f;
@pms-3305: #004f42;
@pms-3308: #004438;
@pms-331: #baead6;
@pms-332: #a0e5ce;
@pms-333: #5eddc1;
@pms-334: #00997c;
@pms-335: #007c66;
@pms-336: #006854;
@pms-337: #9bdbc1;
@pms-3375: #8ee2bc;
@pms-338: #7ad1b5;
@pms-3385: #54d8a8;
@pms-339: #00b28c;
@pms-3395: #00c993;
@pms-340: #009977;
@pms-3405: #00b27a;
@pms-341: #007a5e;
@pms-3415: #007c59;
@pms-342: #006b54;
@pms-3425: #006847;
@pms-343: #00563f;
@pms-3435: #024930;
@pms-344: #b5e2bf;
@pms-345: #96d8af;
@pms-346: #70ce9b;
@pms-347: #009e60;
@pms-348: #008751;
@pms-349: #006b3f;
@pms-350: #234f33;
@pms-351: #b5e8bf;
@pms-352: #99e5b2;
@pms-353: #84e2a8;
@pms-354: #00b760;
@pms-355: #009e49;
@pms-356: #007a3d;
@pms-357: #215b33;
@pms-358: #aadd96;
@pms-359: #a0db8e;
@pms-360: #60c659;
@pms-361: #1eb53a;
@pms-362: #339e35;
@pms-363: #3d8e33;
@pms-364: #3a7728;
@pms-365: #d3e8a3;
@pms-366: #c4e58e;
@pms-367: #aadd6d;
@pms-368: #5bbf21;
@pms-369: #56aa1c;
@pms-370: #568e14;
@pms-371: #566b21;
@pms-372: #d8ed96;
@pms-373: #ceea82;
@pms-374: #bae860;
@pms-375: #8cd600;
@pms-376: #7fba00;
@pms-377: #709302;
@pms-378: #566314;
@pms-379: #e0ea68;
@pms-380: #d6e542;
@pms-381: #cce226;
@pms-382: #bad80a;
@pms-383: #a3af07;
@pms-384: #939905;
@pms-385: #707014;
@pms-386: #e8ed60;
@pms-387: #e0ed44;
@pms-388: #d6e80f;
@pms-389: #cee007;
@pms-390: #bac405;
@pms-391: #9e9e07;
@pms-392: #848205;
@pms-393: #f2ef87;
@pms-3935: #f2ed6d;
@pms-394: #eaed35;
@pms-3945: #efea07;
@pms-395: #e5e811;
@pms-3955: #ede211;
@pms-396: #e0e20c;
@pms-3965: #e8dd11;
@pms-397: #c1bf0a;
@pms-3975: #b5a80c;
@pms-398: #afa80a;
@pms-3985: #998c0a;
@pms-399: #998e07;
@pms-3995: #6d6002;
@pms-400: #d1c6b5;
@pms-401: #c1b5a5;
@pms-402: #afa593;
@pms-403: #998c7c;
@pms-404: #827566;
@pms-405: #6b5e4f;
@pms-406: #cec1b5;
@pms-408: #a8998c;
@pms-409: #99897c;
@pms-410: #7c6d63;
@pms-411: #66594c;
@pms-412: #3d3028;
@pms-413: #c6c1b2;
@pms-414: #b5afa0;
@pms-415: #a39e8c;
@pms-416: #8e8c7a;
@pms-417: #777263;
@pms-418: #605e4f;
@pms-419: #282821;
@pms-420: #d1ccbf;
@pms-421: #bfbaaf;
@pms-422: #afaaa3;
@pms-423: #96938e;
@pms-424: #827f77;
@pms-425: #60605b;
@pms-426: #2b2b28;
@pms-427: #dddbd1;
@pms-428: #d1cec6;
@pms-429: #adafaa;
@pms-430: #919693;
@pms-431: #666d70;
@pms-432: #444f51;
@pms-433: #30383a;
@pms-434: #e0d1c6;
@pms-435: #d3bfb7;
@pms-436: #bca59e;
@pms-437: #8c706b;
@pms-438: #593f3d;
@pms-439: #493533;
@pms-440: #3f302b;
@pms-441: #d1d1c6;
@pms-442: #babfb7;
@pms-443: #a3a8a3;
@pms-444: #898e8c;
@pms-445: #565959;
@pms-446: #494c49;
@pms-447: #3f3f38;
@pms-448: #54472d;
@pms-4485: #604c11;
@pms-449: #544726;
@pms-4495: #877530;
@pms-450: #60542b;
@pms-4505: #a09151;
@pms-451: #ada07a;
@pms-4515: #bcad75;
@pms-452: #c4b796;
@pms-4525: #ccbf8e;
@pms-453: #d6ccaf;
@pms-4535: #dbcea5;
@pms-454: #e2d8bf;
@pms-4545: #e5dbba;
@pms-455: #665614;
@pms-456: #998714;
@pms-457: #b59b0c;
@pms-458: #ddcc6b;
@pms-459: #e2d67c;
@pms-460: #eadd96;
@pms-461: #ede5ad;
@pms-462: #5b4723;
@pms-4625: #472311;
@pms-463: #755426;
@pms-4635: #8c5933;
@pms-464: #876028;
@pms-4645: #b28260;
@pms-465: #c1a875;
@pms-4655: #c49977;
@pms-466: #d1bf91;
@pms-4665: #d8b596;
@pms-467: #ddcca5;
@pms-4675: #e5c6aa;
@pms-468: #e2d6b5;
@pms-4685: #edd3bc;
@pms-469: #603311;
@pms-4695: #51261c;
@pms-470: #9b4f19;
@pms-4705: #7c513d;
@pms-471: #bc5e1e;
@pms-4715: #99705b;
@pms-472: #eaaa7a;
@pms-4725: #b5917c;
@pms-473: #f4c4a0;
@pms-4735: #ccaf9b;
@pms-474: #f4ccaa;
@pms-4745: #d8bfaa;
@pms-475: #f7d3b5;
@pms-4755: #e2ccba;
@pms-476: #593d2b;
@pms-477: #633826;
@pms-478: #7a3f28;
@pms-479: #af8970;
@pms-480: #d3b7a3;
@pms-481: #e0ccba;
@pms-482: #e5d3c1;
@pms-483: #6b3021;
@pms-484: #9b301c;
@pms-485: #d81e05;
@pms-486: #ed9e84;
@pms-487: #efb5a0;
@pms-488: #f2c4af;
@pms-489: #f2d1bf;
@pms-490: #5b2626;
@pms-491: #752828;
@pms-492: #913338;
@pms-494: #f2adb2;
@pms-495: #f4bcbf;
@pms-496: #f7c9c6;
@pms-497: #512826;
@pms-4975: #441e1c;
@pms-498: #6d332b;
@pms-4985: #844949;
@pms-499: #7a382d;
@pms-4995: #a56b6d;
@pms-500: #ce898c;
@pms-5005: #bc8787;
@pms-501: #eab2b2;
@pms-5015: #d8ada8;
@pms-502: #f2c6c4;
@pms-5025: #e2bcb7;
@pms-503: #f4d1cc;
@pms-5035: #edcec6;
@pms-504: #511e26;
@pms-505: #661e2b;
@pms-506: #7a2638;
@pms-507: #d8899b;
@pms-508: #e8a5af;
@pms-509: #f2babf;
@pms-510: #f4c6c9;
@pms-511: #602144;
@pms-5115: #4f213a;
@pms-512: #84216b;
@pms-5125: #754760;
@pms-513: #9e2387;
@pms-5135: #936b7f;
@pms-514: #d884bc;
@pms-5145: #ad8799;
@pms-515: #e8a3c9;
@pms-5155: #ccafb7;
@pms-516: #f2bad3;
@pms-5165: #e0c9cc;
@pms-517: #f4ccd8;
@pms-5175: #e8d6d1;
@pms-518: #512d44;
@pms-5185: #472835;
@pms-519: #63305e;
@pms-5195: #593344;
@pms-520: #703572;
@pms-5205: #8e6877;
@pms-521: #b58cb2;
@pms-5215: #b5939b;
@pms-522: #c6a3c1;
@pms-5225: #ccadaf;
@pms-523: #d3b7cc;
@pms-5235: #ddc6c4;
@pms-524: #e2ccd3;
@pms-5245: #e5d3cc;
@pms-525: #512654;
@pms-5255: #35264f;
@pms-526: #68217a;
@pms-5265: #493d63;
@pms-527: #7a1e99;
@pms-5275: #605677;
@pms-528: #af72c1;
@pms-5285: #8c8299;
@pms-529: #cea3d3;
@pms-5295: #b2a8b5;
@pms-530: #d6afd6;
@pms-5305: #ccc1c6;
@pms-531: #e5c6db;
@pms-5315: #dbd3d3;
@pms-532: #353842;
@pms-533: #353f5b;
@pms-534: #3a4972;
@pms-535: #9ba3b7;
@pms-536: #adb2c1;
@pms-537: #c4c6ce;
@pms-538: #d6d3d6;
@pms-539: #003049;
@pms-5395: #02283a;
@pms-540: #00335b;
@pms-5405: #3f6075;
@pms-541: #003f77;
@pms-5415: #607c8c;
@pms-542: #6693bc;
@pms-5425: #8499a5;
@pms-543: #93b7d1;
@pms-5435: #afbcbf;
@pms-544: #b7ccdb;
@pms-5445: #c4cccc;
@pms-545: #c4d3dd;
@pms-5455: #d6d8d3;
@pms-546: #0c3844;
@pms-5463: #00353a;
@pms-5467: #193833;
@pms-547: #003f54;
@pms-5473: #26686d;
@pms-5477: #3a564f;
@pms-548: #004459;
@pms-5483: #609191;
@pms-5487: #667c72;
@pms-549: #5e99aa;
@pms-5493: #8cafad;
@pms-5497: #91a399;
@pms-550: #87afbf;
@pms-5503: #aac4bf;
@pms-5507: #afbab2;
@pms-551: #a3c1c9;
@pms-5513: #ced8d1;
@pms-5517: #c9cec4;
@pms-552: #c4d6d6;
@pms-5523: #d6ddd6;
@pms-5527: #ced1c6;
@pms-553: #234435;
@pms-5535: #213d30;
@pms-554: #195e47;
@pms-5545: #4f6d5e;
@pms-555: #076d54;
@pms-5555: #779182;
@pms-556: #7aa891;
@pms-5565: #96aa99;
@pms-557: #a3c1ad;
@pms-5575: #afbfad;
@pms-558: #b7cebc;
@pms-5585: #c4cebf;
@pms-559: #c6d6c4;
@pms-5595: #d8dbcc;
@pms-560: #2b4c3f;
@pms-5605: #233a2d;
@pms-561: #266659;
@pms-5615: #546856;
@pms-562: #1e7a6d;
@pms-5625: #728470;
@pms-563: #7fbcaa;
@pms-5635: #9eaa99;
@pms-564: #05705e;
@pms-5645: #bcc1b2;
@pms-565: #bcdbcc;
@pms-5655: #c6ccba;
@pms-566: #d1e2d3;
@pms-5665: #d6d6c6;
@pms-567: #265142;
@pms-569: #008772;
@pms-570: #7fc6b2;
@pms-571: #aadbc6;
@pms-572: #bce2ce;
@pms-573: #cce5d6;
@pms-574: #495928;
@pms-5743: #3f4926;
@pms-5747: #424716;
@pms-575: #547730;
@pms-5753: #5e663a;
@pms-5757: #6b702b;
@pms-576: #608e3a;
@pms-5763: #777c4f;
@pms-5767: #8c914f;
@pms-577: #b5cc8e;
@pms-5773: #9b9e72;
@pms-5777: #aaad75;
@pms-578: #c6d6a0;
@pms-5783: #b5b58e;
@pms-5787: #c6c699;
@pms-579: #c9d6a3;
@pms-5793: #c6c6a5;
@pms-5797: #d3d1aa;
@pms-580: #d8ddb5;
@pms-5803: #d8d6b7;
@pms-5807: #e0ddbc;
@pms-581: #605e11;
@pms-5815: #494411;
@pms-582: #878905;
@pms-5825: #75702b;
@pms-583: #aaba0a;
@pms-5835: #9e9959;
@pms-584: #ced649;
@pms-5845: #b2aa70;
@pms-585: #dbe06b;
@pms-5855: #ccc693;
@pms-586: #e2e584;
@pms-5865: #d6cea3;
@pms-587: #e8e89b;
@pms-5875: #e0dbb5;
@pms-600: #f4edaf;
@pms-601: #f2ed9e;
@pms-602: #f2ea87;
@pms-603: #ede85b;
@pms-604: #e8dd21;
@pms-605: #ddce11;
@pms-606: #d3bf11;
@pms-607: #f2eabc;
@pms-608: #efe8ad;
@pms-609: #eae596;
@pms-610: #e2db72;
@pms-611: #d6ce49;
@pms-612: #c4ba00;
@pms-613: #afa00c;
@pms-614: #eae2b7;
@pms-615: #e2dbaa;
@pms-616: #ddd69b;
@pms-617: #ccc47c;
@pms-618: #b5aa59;
@pms-619: #968c28;
@pms-620: #847711;
@pms-621: #d8ddce;
@pms-622: #c1d1bf;
@pms-623: #a5bfaa;
@pms-624: #7fa08c;
@pms-625: #5b8772;
@pms-626: #21543f;
@pms-627: #0c3026;
@pms-628: #cce2dd;
@pms-629: #b2d8d8;
@pms-630: #8cccd3;
@pms-631: #54b7c6;
@pms-632: #00a0ba;
@pms-633: #007f99;
@pms-634: #00667f;
@pms-635: #bae0e0;
@pms-636: #99d6dd;
@pms-637: #6bc9db;
@pms-638: #00b5d6;
@pms-639: #00a0c4;
@pms-640: #008cb2;
@pms-641: #007aa5;
@pms-642: #d1d8d8;
@pms-643: #c6d1d6;
@pms-644: #9bafc4;
@pms-645: #7796b2;
@pms-646: #5e82a3;
@pms-647: #26547c;
@pms-648: #00305e;
@pms-649: #d6d6d8;
@pms-650: #bfc6d1;
@pms-651: #9baabf;
@pms-652: #6d87a8;
@pms-653: #335687;
@pms-654: #0f2b5b;
@pms-655: #0c1c47;
@pms-656: #d6dbe0;
@pms-657: #c1c9dd;
@pms-658: #a5afd6;
@pms-659: #7f8cbf;
@pms-660: #5960a8;
@pms-661: #2d338e;
@pms-662: #0c1975;
@pms-663: #e2d3d6;
@pms-664: #d8ccd1;
@pms-665: #c6b5c4;
@pms-666: #a893ad;
@pms-667: #7f6689;
@pms-668: #664975;
@pms-669: #472b59;
@pms-670: #f2d6d8;
@pms-671: #efc6d3;
@pms-672: #eaaac4;
@pms-673: #e08cb2;
@pms-674: #d36b9e;
@pms-675: #bc3877;
@pms-676: #a00054;
@pms-677: #edd6d6;
@pms-678: #eaccce;
@pms-679: #e5bfc6;
@pms-680: #d39eaf;
@pms-681: #b7728e;
@pms-682: #a05175;
@pms-683: #7f284f;
@pms-684: #efccce;
@pms-685: #eabfc4;
@pms-686: #e0aaba;
@pms-687: #c9899e;
@pms-688: #b26684;
@pms-689: #934266;
@pms-690: #702342;
@pms-691: #efd1c9;
@pms-692: #e8bfba;
@pms-693: #dba8a5;
@pms-694: #c98c8c;
@pms-695: #b26b70;
@pms-696: #8e4749;
@pms-697: #7f383a;
@pms-698: #f7d1cc;
@pms-699: #f7bfbf;
@pms-700: #f2a5aa;
@pms-701: #e8878e;
@pms-702: #d6606d;
@pms-703: #b73844;
@pms-704: #9e2828;
@pms-705: #f9ddd6;
@pms-706: #fcc9c6;
@pms-707: #fcadaf;
@pms-708: #f98e99;
@pms-709: #f26877;
@pms-710: #e04251;
@pms-711: #d12d33;
@pms-712: #ffd3aa;
@pms-713: #f9c9a3;
@pms-714: #f9ba82;
@pms-715: #fc9e49;
@pms-716: #f28411;
@pms-717: #d36d00;
@pms-718: #bf5b00;
@pms-719: #f4d1af;
@pms-720: #efc49e;
@pms-721: #e8b282;
@pms-722: #d18e54;
@pms-723: #ba7530;
@pms-724: #8e4905;
@pms-725: #753802;
@pms-726: #edd3b5;
@pms-727: #e2bf9b;
@pms-728: #d3a87c;
@pms-729: #c18e60;
@pms-730: #aa753f;
@pms-731: #723f0a;
@pms-732: #60330a;
@pms-801: #00aacc;
@pms-802: #60dd49;
@pms-803: #ffed38;
@pms-804: #ff9338;
@pms-805: #f95951;
@pms-806: #ff0093;
@pms-807: #d6009e;
@pms-808: #00b59b;
@pms-809: #dde00f;
@pms-810: #ffcc1e;
@pms-811: #ff7247;
@pms-812: #fc2366;
@pms-813: #e50099;
@pms-814: #8c60c1;
