@mahogany: #CD4A4A;
@fuzzy_wuzzy_brown: #CC6666;
@chestnut: #BC5D58;
@red_orange: #FF5349;
@sunset_orange: #FD5E53;
@bittersweet: #FD7C6E;
@melon: #FDBCB4;
@outrageous_orange: #FF6E4A;
@vivid_tangerine: #FFA089;
@burnt_sienna: #EA7E5D;
@brown: #B4674D;
@sepia: #A5694F;
@orange: #FF7538;
@burnt_orange: #FF7F49;
@copper: #DD9475;
@mango_tango: #FF8243;
@atomic_tangerine: #FFA474;
@beaver: #9F8170;
@antique_brass: #CD9575;
@desert_sand: #EFCDB8;
@raw_sienna: #D68A59;
@tumbleweed: #DEAA88;
@tan: #FAA76C;
@peach: #FFCFAB;
@macaroni_and_cheese: #FFBD88;
@apricot: #FDD9B5;
@neon_carrot: #FFA343;
@almond: #EFDBC5;
@yellow_orange: #FFB653;
@gold: #E7C697;
@shadow: #8A795D;
@banana_mania: #FAE7B5;
@sunglow: #FFCF48;
@goldenrod: #FCD975;
@dandelion: #FDDB6D;
@yellow: #FCE883;
@green_yellow: #F0E891;
@spring_green: #ECEABE;
@olive_green: #BAB86C;
@laser_lemon: #FDFC74;
@unmellow_yellow: #FDFC74;
@canary: #FFFF99;
@yellow_green: #C5E384;
@inch_worm: #B2EC5D;
@asparagus: #87A96B;
@granny_smith_apple: #A8E4A0;
@electric_lime: #1DF914;
@screamin_green: #76FF7A;
@fern: #71BC78;
@forest_green: #6DAE81;
@sea_green: #9FE2BF;
@green: #1CAC78;
@mountain_meadow: #30BA8F;
@shamrock: #45CEA2;
@jungle_green: #3BB08F;
@caribbean_green: #1CD3A2;
@tropical_rain_forest: #17806D;
@pine_green: #158078;
@robin_egg_blue: #1FCECB;
@aquamarine: #78DBE2;
@turquoise_blue: #77DDE7;
@sky_blue: #80DAEB;
@outer_space: #414A4C;
@blue_green: #199EBD;
@pacific_blue: #1CA9C9;
@cerulean: #1DACD6;
@cornflower: #9ACEEB;
@midnight_blue: #1A4876;
@navy_blue: #1974D2;
@denim: #2B6CC4;
@blue: #1F75FE;
@periwinkle: #C5D0E6;
@cadet_blue: #B0B7C6;
@indigo: #5D76CB;
@wild_blue_yonder: #A2ADD0;
@manatee: #979AAA;
@blue_bell: #ADADD6;
@blue_violet: #7366BD;
@purple_heart: #7442C8;
@royal_purple: #7851A9;
@purple_mountains_majesty: #9D81BA;
@violet: #926EAE;
@wisteria: #CDA4DE;
@vivid_violet: #8F509D;
@fuchsia: #C364C5;
@shocking_pink: #FB7EFD;
@pink_flamingo: #FC74FD;
@plum: #8E4585;
@hot_magenta: #FF1DCE;
@purple_pizzazz: #FF1DCE;
@razzle_dazzle_rose: #FF48D0;
@orchid: #E6A8D7;
@red_violet: #C0448F;
@eggplant: #6E5160;
@cerise: #DD4492;
@wild_strawberry: #FF43A4;
@magenta: #F664AF;
@lavender: #FCB4D5;
@cotton_candy: #FFBCD9;
@violet_red: #F75394;
@carnation_pink: #FFAACC;
@razzmatazz: #E3256B;
@piggy_pink: #FDD7E4;
@jazzberry_jam: #CA3767;
@blush: #DE5D83;
@tickle_me_pink: #FC89AC;
@pink_sherbet: #F780A1;
@maroon: #C8385A;
@red: #EE204D;
@radical_red: #FF496C;
@mauvelous: #EF98AA;
@wild_watermelon: #FC6C85;
@scarlet: #FC2847;
@salmon: #FF9BAA;
@brick_red: #CB4154;
@white: #EDEDED;
@timberwolf: #DBD7D2;
@silver: #CDC5C2;
@gray: #95918C;
@black: #232323;
